<h3>Create Room</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form (ngSubmit)="onSubmit()" )>

        <div class=" form-group ">
            <label for="data">data</label>
            <input id="data" class="form-control " type="text " name="data" required[([(ngModel)]="room.data" )]>
        </div>

        <div class=" form-group ">
            <label for="startHour">startHour</label>
            <input id="startHour" class="form-control " type="text " name="startHour" required[([(ngModel)]="room.startHour" )]>
        </div>

        <div class=" form-group ">
            <label for="endHour">emdHour</label>
            <input id="emdHour" class="form-control " type="text " name="endHour" required[([(ngModel)]="room.endHour" )]>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<div [hidden]="!submitted">
    <button class="btn btn-success" (click)="newRoom()">Add
        </button>-->
</div>